
.nav{width:100%;position:relative;display:inline-block;display:-ms-flexbox;display:flex;-ms-flex-flow:row wrap;
	flex-flow:row wrap;-ms-flex-align:center;align-items:center}
.nav>li{display:inline-block;list-style:none;margin:0;padding:0;position:relative;margin:0 7px;
	transition:background-color .3s}
.nav>li>a{padding:10px 0;display:inline-block;display:-ms-inline-flexbox;display:inline-flex;-ms-flex-wrap:wrap;
	flex-wrap:wrap;-ms-flex-align:center;align-items:center}
.html .nav>li>a{padding-top:0;padding-bottom:0}
.nav-small .nav>li>a,.nav.nav-small>li>a{vertical-align:top;padding-top:5px;padding-bottom:5px;font-weight:normal}
.nav-small.nav>li.html{font-size:.75em}
.nav-center{-ms-flex-pack:center;justify-content:center}
.nav-fill{-ms-flex-pack:justify;justify-content:space-between}
.nav-left{-ms-flex-pack:start;justify-content:flex-start}
.nav-right{-ms-flex-pack:end;justify-content:flex-end}
@media (max-width: 849px){.medium-nav-center{-ms-flex-pack:center;justify-content:center}}
@media (max-width: 549px){.small-nav-center{-ms-flex-pack:center;justify-content:center}}
.nav>li>a,.nav-dropdown>li>a,.nav-column>li>a{color:rgba(102,102,102,0.85);transition:all .2s}
.nav-dropdown>li>a,.nav-column>li>a{display:block}
.nav>li>a:hover,.nav>li.active>a,.nav>li.current>a,.nav>li>a.active,.nav>li>a.current,.nav-dropdown li.active>a,
.nav-column li.active>a,.nav-dropdown>li>a:hover,.nav-column li>a:hover{color:rgba(17,17,17,0.85)}
.nav li:first-child{margin-left:0 !important}.nav li:last-child{margin-right:0 !important}
.nav-uppercase>li>a{letter-spacing:.02em;text-transform:uppercase;font-weight:bolder}
.nav-thin>li>a{font-weight:thin !important}
@media (min-width: 850px){.nav-divided>li{margin:0 .7em}
.nav-divided>li+li>a:after{content:"";position:absolute;top:50%;width:1px;border-left:1px solid rgba(0,0,0,0.1);
height:15px;margin-top:-7px;left:-1em}
.nav-divided>li+li.icon-top>a:after{height:50px;margin-top:-25px}}
li.html .row,li.html form,li.html select,li.html input{margin:0}
li.html>.button{margin-bottom:0}li.hide-title>a{display:none !important}
.nav-pagination>li>span,.nav-pagination>li>a{font-size:1.1em;display:block;height:2.25em;line-height:2em;
	text-align:center;width:auto;min-width:2.25em;padding:0 7px;font-weight:bolder;border-radius:99px;
	border:2px solid currentColor;transition:all .3s;vertical-align:top}
.nav-pagination>li i{font-size:1.2em;vertical-align:middle;top:-1px}
.nav-pagination>li>.current,.nav-pagination>li>span:hover,.nav-pagination>li>a:hover{
	border-color:#446084;background-color:#446084;color:#FFF}
.nav-line-bottom>li>a:before,.nav-line-grow>li>a:before,.nav-line>li>a:before{
	content:" ";position:absolute;top:0;left:50%;-ms-transform:translateX(-50%);transform:translateX(-50%);
	width:100%;background-color:#446084;transition:all 0.3s;opacity:0;height:3px}
.nav-line-bottom>li:hover>a:before,.nav-line-grow>li:hover>a:before,.nav-line-bottom>li.active>a:before,
.nav-line-grow>li.active>a:before,.nav-line>li.active>a:before,.nav-line>li:hover>a:before{opacity:1}
.nav:hover>li:not(:hover)>a:before{opacity:0}
.tabbed-content .nav-line-bottom:before{top:auto;bottom:0}
.nav-line-grow>li>a:before{width:0%}
.nav-line-grow>li.active>a:before,.nav-line-grow>li:hover>a:before{width:100%}
.nav-line-bottom>li:before,.nav-line-bottom>li:after{display:none}
.nav-line-bottom>li>a:before{top:auto;bottom:0}
.nav-box>li.active>a,.nav-pills>li.active>a{opacity:1;color:#fff;background-color:#446084}
.nav-tabs>li.active>a{background-color:#fff}.nav-dark .nav.nav-tabs>li.active>a{color:#000}
.nav-outline>li.active>a{color:#446084;border-color:currentColor}
.tabbed-content{display:-ms-flexbox;display:flex;-ms-flex-flow:row wrap;flex-flow:row wrap}
.tabbed-content .nav,.tabbed-content .tab-panels{width:100%}
.tab-panels{padding-top:1em}.tab-panels .entry-content{padding:0}
.tab-panels .panel:not(.active){zoom:1;float:"left";visibility:hidden;height:0;padding:0;display:block;
overflow:hidden;opacity:.0}
.tab-panels .panel.active{display:block !important}
.nav-box>li,.nav-tabs>li,.nav-outline>li,.nav-pills>li{margin:0}
.nav-box>li>a{padding:0 .75em;line-height:2.5em}
.nav-pills>li>a{padding:0 .75em;border-radius:99px;line-height:2.5em}
.nav-tabs>li>a{border-top:2px solid #ddd;border-left:1px solid #ddd;border-right:1px solid #ddd;
	background-color:rgba(0,0,0,0.04);padding-left:15px;padding-right:15px}
.nav-tabs>li.active>a{border-top-color:#446084}
.nav-dark .nav-tabs>li:not(.active)>a{background-color:rgba(255,255,255,0.1);border-color:transparent}
.tabbed-content .nav-tabs>li{margin:0 .1em;margin-bottom:-1px}
.nav-tabs+.tab-panels{border:1px solid #ddd;background-color:#fff;padding:30px}
.nav-outline>li>a{line-height:2.4em;padding:0 .75em;position:relative;z-index:10;border:2px solid transparent;
	border-radius:32px}
@media (min-width: 850px){.tabbed-content .nav-vertical{padding-top:0;width:25%}
.nav-vertical+.tab-panels{margin-top:0 !important;border-left:1px solid #ddd;padding:0 30px 30px;-ms-flex:1;flex:1}
.tabbed-content .nav-vertical.nav-outline{padding-right:15px}}
@media (max-width: 549px){.small-nav-collapse>li{width:100%;margin:0 !important}
.small-nav-collapse>li a{width:100%;display:block}}
@media (max-width: 549px){.small-nav-touch{-webkit-overflow-scrolling:touch;overflow-x:auto;overflow-y:hidden;
	white-space:nowrap;-ms-flex-flow:nowrap;flex-flow:nowrap}
.small-nav-touch>li{display:inline-block}}
